includes:
	- phpstan-baseline.neon

parameters:
	paths:
		- src
	doctrine:
		objectManagerLoader: tests/object-manager.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false