parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\EventListener\\\\ApiExceptionSubscriber\\:\\:\\$isDebug is never read, only written\\.$#"
			count: 1
			path: src/EventListener/ApiExceptionSubscriber.php

		-
			message: "#^Parameter \\#1 \\$date of class App\\\\DTO\\\\NearEarthObjectDTO constructor expects DateTimeImmutable, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: src/Module/NasaApiParser/ParserService.php

